@charset "utf-8";

body.CorpoPrincipal {
    color: white;
    background-image: url("NEuip.jpg");
    background-color: rgba(red, green, blue, 0.6);
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify; 
    text-indent: 50px;
    text-decoration: underline"        
}
p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

figure.FotoLegenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0blue, 0.5);
    border: 8px solid lightgreen;
}

figure.FotoLegenda img {
    height: 100%;
    width: 100%;
}