@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: FonteLogo;
    src: url("../_fonts/computer-font.ttf");
}
/*OBSERVAÇÃO*/
/* TODO OBJETO ELE POSSUI UM ESPAÇO INTERNO E UM ESPAÇO EXTERNO. É POSSIVEL CONFIGURA COM OS COMANDO "PEDDING" */


body.corpo_principal {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(144, 126, 160);
}

a { 
    color: darkgray;
    text-decoration-line: none;
}

a:hover {   /* Muda a forma do texto quando coloca o mouse*/
    text-decoration-line: underline;
    color: black;
}


table#tabelaspec {
    border: 1px solid #000000;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

table#tabelaspec td.colunESQ { /*Para indentificar class é preciso usar o "."(Ponto)*/
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
}

table#tabelaspec td.colunRIGHT {
    background-color: #cac2c2;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 12pt;
    font-weight: bold;
}

table#tabelaspec caption span {
    color: #000000;
    display: block;
    float: right;
    font-size: 8pt;
    margin-top: 10px;

}

div#interface {

width: 1000px; /*Delimita o corpo do site*/
background-color: #ffffff; /* Interface ficara com o fundo brando */
margin: -20px /*Margem superior*/ auto /*10px*//*Margem Esquerda*/ 10px /*Margem Inferior*/ auto /*10px*//*Margem da Direita*/;
box-shadow: 0px 0px 10px rgba(0,0,0, 0.4);
padding: 10px 10px 10px 10px; /* Espaço dentro da margin | É possivel colocar apenas um valor, caso os valores sejam iguais*/

}

header#cabecalho img#icone { /* imagem linha 15 index*/ 
    position: absolute;
    left: 940px;
    top: 40px;

}   

header#cabecalho {
    border-bottom: 1px /*largura da borda*/ #606060 /* Cor da borda */ solid /* Formato da borda*/;
    height: 100px; /* Altura do cabeçalho*/
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px/*Descolamento lateral*/ 140px/*Deslocamento vertical*/; /* "URL é o endereço de onde o arquivo esta */ /*"no-repeat" coloca apenas uma vez a imagem */
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.6);
    padding: 0px;
    margin-bottom: 0px;

}

header#cabecalho h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify; 
    text-indent: 50px;
    text-decoration: underline"  
}

/* Formatação fotos com legenda */
figure.foto-legenda {
    position: relative;
    border: 8px solid rgb(160, 154, 154);
    box-shadow: 1px, 1px, 4px, black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;    
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.3);
}

figure.foto-legenda figcaption { /* Formatação de quando se passa o mouse em cima da imagem */
    opacity: 0; /* Valor de tramsparencia*/
    position: absolute;
    top: -2px;
    background-color: rgba(0,0,0, 0.4); /* Cor da pelicula, quando se passa o mouse, e 40% de transparencia*/ 
    color: white; /* Cor do texto */ 
    width: 100%;
    height: 100%;
    padding: 10px; /* Espaço dentro da foto*/
    box-sizing: border-box ;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}


/* Formatação menu */

nav#menu {
    display: block; /* Opção faz o botão flutuar na tela */
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute; 
     /* Posição relative fica preso dentro do conteiner*/
     /* Posição "absolute"  deixa o objeto livre pelo site*/
    top: -20px;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 5px;  /* Espaço dentro dos botões*/
    margin: 2px;  /* Espaço fora dos botões */
    transition: background-color 1s; /* Quando passa com o mouse, demora 1s para que a cor cinza preencha a caixa. */
}

nav#menu li:hover {
    background-color: #606060; /* Quando passa com o mouse, deixa a caixa cinza */
}

nav#menu h1 {
    display: none; /* Remove, apenas do navedor, mas não do codigo,  o titulo menu que não é link */
}

nav#menu a {
    color: black; /* Muda a cor da fonte*/
    text-decoration: none; /* Remove a linha inferior do link*/
}

nav#menu a:hover {
    color: #ffffff; /* Muda a cor dos links quando passa com o mouse*/
    text-decoration: underline; /* Quando passa o mouse, o link fica sublinhado */
}


/*Estrutura do corpo*/
section#corpo_estrutura {
    display: block; /* Para o corpo ser mostrado como bloco*/
    width: 505px; /* Define a largura do bloco*/
    float: left; /*Faz o corpo flutue para o lado esquerdo*/
    border-right: 1px/*Indica a largura da linha*/ solid/*Tipo da linha*/ #606060/*Cor da linha*/;
    padding: 30px; /*Espaço dentro do corpo*/
}

article#noticia_principal h2 { /* */
    font-size: 12;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;   
}

header#cabecalho-artigo h1 {
    font-family: FonteLogo, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
}

.direita {
    text-align: right;
}

header#cabecalho-artigo h2 {
    font-size: 10;
    color: #888888;
    background-color: #ffffff;
    margin-top: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12;
    color: #a8a2a2;
    font-style: italic;
}

aside#lateral {
    display: block; /* Para o corpo ser mostrado como bloco*/
    width: 350px; /* Define a largura do bloco*/
    float: right; /* Faz o corpo flutuar para o lado direito*/
    background-color: #dddddd;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 40px;
    margin-top: 20px;
}

aside#lateral h1 {
    font-family: FonteLogo;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 15;
    color: #ffffff;
    padding: 10px;
}

footer#rodapeh {
    clear: both;
    border-top: 1px/*Indica a largura da linha*/ solid/*Tipo da linha*/ #606060/*Cor da linha*/;
    padding: 10px;    
}

footer#rodapeh p {
    text-align: center; 
    padding: 0px;
    border: 1px #606060;
}
