@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: FonteLogo;
    src: url("../_fonts/computer-font.ttf");
}

form {
    width: 500px;
    margin:auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal; /* Para não ficar em negrito */
    font-size: 13pt;
}

input:hover, textarea:hover {
    background-color: #dddddd;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: FonteLogo;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

fieldset#sexo {
    width: 110px; /* Largura */
    height: auto; /* Altura */
}

