@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: FonteLogo;
    src: url("../_fonts/computer-font.ttf");
}

div#tv-audio {
    width: 900px;
    height: 630px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat 95% 95%;    
}

audio#musica {
    display: block;
    position: relative;
    left: 573px;
    top: 545px; /* Almente o valor para baixar na tela.*/
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 83px;
    top: 130px; /* Almente o valor para baixar na tela.*/
    width: 450px;
}