@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: FonteLogo;
    src: url("../_fonts/computer-font.ttf");
}

div#tv-audio {
    width: 900px;
    height: 500px;
    margin: auto;
    background: url("../_imagens/radio-tv.png");    
}

audio#musica {
    display: block;
    position: relative;
    left: 570px;
    top: 500px; /* Almente o valor para baixar na tela.*/
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 70px;
    top: 10px; /* Almente o valor para baixar na tela.*/
    width: 440px;
}