@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: FonteLogo;
    src: url("../_fonts/computer-font.ttf");
}

section#conteudo {
    width: 1000px; /*Largura*/
    margin: auto;
}

iframe#frame-spec {
    width: 430px; /* Largura */
    height: 280px; /* Altura */
    border: none; /* Move a borda */
    overflow: hidden; /* Move o conteudo */
}

iframe#frame-spec::-webkit-scrollbar {  /* Esconde a barra de rolagem */
    display: none;
}

img#formatacao {
    border: 2px black;
}